@import "CustomTheme";

$size-title: 28px;
$size-body: 20px;

//JONTODO Use metropolis font
//JONTODO Switch to blue logo and figure out theme colors app.readlee.com
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  > header,
  #content {
    padding: 0 100px;
  }

  > header {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 30px;

    img {
      height: 30px;
    }

    .name {
      display: inline-block;
      font-size: 16px;
    }

    svg {
      font-size: 20px;
      margin: 5px 0 5px 10px;
      vertical-align: top;
    }
  }

  #content {
    font-size: $size-body;

    .title-header {
      font-size: $size-title;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .trophies {
      align-items: flex-start;
      display: flex;
      margin-top: 15px;
      height: 300px;

      .trophy {
        font-size: 20px;
        padding: 20px;
        width: 200px;

        &.btn-primary {
          color: white;
        }

        &:not(:first-child) {
          margin-left: 50px;
        }

        svg {
          font-size: 40px;
          margin-top: 15px;
        }
      }
    }

    .btn-group {
      margin-top: 15px;
    }
  }
}

#trophy-modal {
  .second-line {
    margin-top: 10px;
  }
}