@import "CustomTheme";
@import "Font";

$header-height: 20px;
$body-font-size: 20px;
$title-font-size: 28px;

$m-max-width: 600px;
$m-header-height: 16px;
$m-body-font-size: 16px;
$m-title-font-size: 24px;

body {
  color: #222;
  margin: 0;
  font-family: "Metropolis", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  > header,
  #content {
    padding: 0 100px;

    @media (max-width: $m-max-width) {
      padding: 0 20px;
    }
  }

  > header {
    display: flex;
    justify-content: space-between;
    line-height: $header-height;
    padding-top: 15px;
    padding-bottom: 30px;

    @media (max-width: $m-max-width) {
      line-height: $m-header-height;
      padding-bottom: 15px;
    }

    img {
      height: $header-height;

      @media (max-width: $m-max-width) {
        height: $m-header-height;
      }
    }

    .name {
      display: inline-block;
      font-size: $header-height;

      @media (max-width: $m-max-width) {
        font-size: $m-header-height;
      }
    }

    svg {
      font-size: $header-height;
      margin-left: 10px;
      vertical-align: top;

      @media (max-width: $m-max-width) {
        font-size: $m-header-height;
      }
    }
  }

  #content {
    font-size: $body-font-size;

    @media (max-width: $m-max-width) {
      font-size: $m-body-font-size;
    }

    .title-header {
      font-size: $title-font-size;
      font-weight: bold;
      margin-bottom: 20px;

      @media (max-width: $m-max-width) {
        font-size: $m-title-font-size;
        margin-bottom: 15px;
      }
    }

    .loading,
    .trophies {
      height: 350px;
    }

    .trophies {
      .trophy-list {
        align-items: flex-start;
        display: flex;
        margin-top: 15px;

        @media (max-width: $m-max-width) {
          flex-flow: column;
          margin-top: 10px;
        }

        .trophy {
          font-size: $body-font-size;
          padding: 20px;
          width: 200px;

          @media (max-width: $m-max-width) {
            align-items: center;
            display: flex;
            flex-flow: row-reverse;
            font-size: $m-body-font-size;
            padding: 15px;
            width: 210px;
          }

          & + .trophy {
            margin-left: 50px;

            @media (max-width: $m-max-width) {
              margin-left: 0;
              margin-top: 15px;
            }
          }

          @media (max-width: $m-max-width) {
            .name {
              flex-grow: 1;
            }
          }

          svg {
            font-size: 2 * $body-font-size;
            margin-top: 15px;

            @media (max-width: $m-max-width) {
              font-size: 2 * $m-body-font-size;
              margin-top: 0;
              margin-right: 15px;
            }
          }
        }
      }
    }

    .buttons {
      margin-top: 15px;

      button + button {
        margin-left: 10px;
      }
    }
  }
}

#trophy-modal {
  .second-line {
    margin-top: 10px;
  }
}

#log-stories-modal,
#log-time-modal {
  input {
    margin-top: 15px;
  }
}