body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  > header,
  #content {
    padding: 0 100px;
  }

  > header {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 30px;

    img {
      height: 30px;
    }

    .name {
      display: inline-block;
      font-size: 16px;
    }

    svg {
      font-size: 20px;
      margin-left: 10px;
      padding: 5px 0;
      vertical-align: top;
    }
  }

  #content {
    .title-header {
      font-size: 28px;
      font-weight: bold;
    }
  }
}