@font-face {
  src: url("./font/Metropolis-Regular.otf");
  font-family: "Metropolis";
  font-weight: 400;
}

@font-face {
  src: url("./font/Metropolis-Bold.otf");
  font-family: "Metropolis";
  font-weight: 700;
}